.bg-hd {
	background-color: #f5f6f7;
}

.bg-rounded {
	background-color: #eeeeee;
}

.bg-rounded:hover {
	background-color: #e2e2e2;
}

.hero {
	padding-top: 60px;
	padding-left: 80px;
}

.hero-home {
	padding-right: 100px;
}

.hero-produk {
	height: 560px;
	margin-bottom: 96px;
}

.font-hero-produk {
	font-size: 72px;
}

.bg-git {
	background-color: #f7f9f9;
}

.btn-hero-produk {
	padding: 10px;
	background-color: #2377fc;
	color: white;
	border: white;
	border-radius: 48px;
	padding-left: 30px;
	padding-right: 30px;
}

.about-git {
	margin-bottom: 96px;
}

.font-about {
	color: #313336;
	font-size: 22px;
}

.btn-card {
	padding: 10px;
	border-radius: 48px;
	padding-left: 20px;
	padding-right: 20px;
	background-color: #313336;
}

.div-card {
	margin-top: 40px;
}

.link-footer {
	text-decoration: none;
}

.visi {
	margin-top: 267px;
	padding-right: 200px;
}

.visi-img {
	margin-top: 320px;
}

.kinerja {
	padding-top: 82px;
}

.kinerja-text {
	padding-right: 280px;
	margin-top: 150px;
	margin-left: 90px;
}

.bulat {
	margin-left: 625px;
}

.bulat1 {
	margin-top: 210px;
	margin-bottom: 24px;
	border-radius: 100%;
	height: 24px;
	background-color: #439ffe;
	z-index: 100;
}
.bulat2 {
	margin-bottom: 24px;
	border-radius: 100%;
	height: 24px;
	background-color: #d38bff;
	z-index: 100;
}
.bulat3 {
	margin-bottom: 24px;
	border-radius: 100%;
	height: 24px;
	background-color: #ef799c;
	z-index: 100;
}
.bulat4 {
	margin-bottom: 24px;
	border-radius: 100%;
	height: 24px;
	background-color: #9dda6e;
	z-index: 100;
}

.judul-jasa {
	margin: 0 330px;
}

.jasa-bg {
	background-color: #f7f7f980;
}

.text-jasa {
	padding: 0 140px;
}

.jasa {
	margin: 0 150px;
	padding-top: 150px;
	padding-bottom: 100px;
}

.text-jasa-foto {
	padding: 0 100px;
}

.bg-nav {
	background-color: #fcfdfe;
	padding-bottom: 50px;
}

.bg-ui {
	background-color: #e4edf0;
	padding-left: 50px;
	height: 825px;
	top: 12px;
}
.profil {
	background-color: #fcfdfe;
	padding-bottom: 50px;
}
.h1 {
	font-size: 72px;
	font-weight: 600px;
}
.h3 {
	font-size: 32px;
	font-weight: 600px;
}
.h5 {
	font-size: 22px;
	font-weight: 500px;
	line-height: 32px;
}
.p {
	font-size: 16px;
	font-weight: 500px;
	color: #787f84;
	letter-spacing: -0.01em;
	line-height: 28px;
}

.p-kontak {
	font-size: 22px;
	font-weight: 500px;
	letter-spacing: -0.01em;
	line-height: 28px;
}
.fm {
	background-color: #f5f6f7;
	display: flex;
	flex-direction: row;
	align-items: center;
	padding: 16px;
	gap: 8px;

	width: 968px;
	height: 82px;
	border-radius: 8px;

	margin-bottom: 25px;
	justify-content: center;
	padding-left: 60px;
}
.fmt {
	padding: 28px 50px;
	gap: 8px;

	width: 968px;
	height: 210px;

	background: #f5f6f7;
	border-radius: 8px;
}
.bnt {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	padding: 25px 50px;
	gap: 8px;

	width: 116px;
	height: 48px;

	background: #2377fc;
	box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.1);
	border-radius: 48px;
	margin-bottom: 150px;
	margin-left: 160px;
}

.icon {
	margin-left: 160px;
	position: relative;
}

.icon-img {
	position: absolute;
	left: 0;
	top: 8px;
	padding: 26px 22px;
}
.icon-img-nama {
	position: absolute;
	left: 0;
	top: 8px;
	padding: 22px 22px;
}

.judul-mitra {
	margin-top: 200px;
	margin-bottom: 40px;
}

.form-mitra {
	background-color: #f5f6f7;
	display: flex;
	flex-direction: row;
	align-items: center;
	padding: 16px;
	gap: 8px;

	width: 360px;
	height: 56px;
	border-radius: 8px;

	margin-bottom: 25px;
	justify-content: center;
	padding-left: 55px;
}

.icon-mitra {
	position: absolute;
	left: 0;
	top: 8px;
	padding: 10px 30px;
	margin-left: 457px;
}
.icon-mitra1 {
	position: absolute;
	left: 0;
	top: 8px;
	padding: 14px 30px;
	margin-left: 457px;
}

.icon-m {
	/* margin-left: 460px; */
	position: relative;
}

.btn-mitra {
	margin-left: 10px;
	padding: 10px 165px;
	margin-bottom: 200px;
}

/* responsive home page */
@media only screen and (min-width: 1440px) {
}
@media only screen and (min-width: 1024px) and (max-width: 1440px) {
}
@media only screen and (min-width: 768px) and (max-width: 1023px) {
}
@media only screen and (min-width: 0px) and (max-width: 767px) {
}
/* akhir responsive home page */

/* responsive profil */
@media only screen and (min-width: 1440px) {
}
@media only screen and (min-width: 1024px) and (max-width: 1440px) {
}
@media only screen and (min-width: 768px) and (max-width: 1023px) {
}
@media only screen and (min-width: 0px) and (max-width: 767px) {
}
/* akhir responsive profil */

/* responsive produk */
@media only screen and (min-width: 1440px) {
	.div-git {
		display: flex;
		justify-content: center;
	}
}
@media only screen and (min-width: 1024px) {
	.div-git {
		display: flex;
		justify-content: center;
	}
}
@media only screen and (min-width: 768px) {
	.div-git {
		display: flex;
		justify-content: center;
	}
}
@media only screen and (max-width: 375px) {
	.div-git {
		margin-bottom: 40px;
	}
}

@media only screen and (min-width: 1440px) {
	.img-card {
		width: 425px;
		height: 425px;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	}
	.img-card-adjust {
		width: 370px;
		height: 330px;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	}

	.card {
		background-color: #f5f6f7;
		border-radius: 16px;
		width: 600px;
		height: 560px;
		position: relative;
		border: white;
	}

	.font-card {
		font-size: 30px;
		padding-top: 3px;
	}

	/* .font-hero-produk {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .btn-hero-produk {
        position: absolute;
        top: 65%;
        left: 50%;
        transform: translate(-50%, -50%);
    } */

	.hero-relative {
		position: relative;
	}

	.icon-blue {
		position: absolute;
		top: 23%;
		left: 18%;
		transform: translate(-50%, -50%);
	}
	.icon-blue1 {
		position: absolute;
		top: 65%;
		left: 80%;
		transform: translate(-50%, -50%);
		width: 22px;
		height: 22px;
	}
	.icon-green {
		position: absolute;
		top: 75%;
		left: 69%;
		transform: translate(-50%, -50%);
	}
	.icon-love {
		position: absolute;
		top: 25%;
		left: 36%;
		transform: translate(-50%, -50%);
	}
	.icon-smile {
		position: absolute;
		top: 75%;
		left: 31%;
		transform: translate(-50%, -50%);
	}
	.icon-yellow {
		position: absolute;
		top: 23%;
		left: 66%;
		transform: translate(-50%, -50%);
	}

	.border-right-footer {
		border-right: 1px solid #eeeeee;
	}

	.footer-gitnet {
		display: flex;
		justify-content: right;
	}
}

/* @media only screen and (max-width: 1280px) {
    .img-card {
        width: 420px;
        height: 420px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    .img-card-adjust {
        width: 260px;
        height: 255px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .font-card {
        font-size: 26px;
        max-width: auto;
        padding-top: 0;
        padding-bottom: 20px;
    }

    .card {
        background-color: #f5f6f7;
        border-radius: 16px;
        width: 500px;
        height: 500px;
        position: relative;
        border: white;
    }
} */

/* @media only screen and (min-width: 1280px) and (max-width: 1439px) {
    .img-card {
        width: 420px;
        height: 420px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    .img-card-adjust {
        width: 260px;
        height: 255px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .font-card {
        font-size: 26px;
        max-width: auto;
        padding-top: 0;
        padding-bottom: 20px;
    }

    .card {
        background-color: #f5f6f7;
        border-radius: 16px;
        width: 500px;
        height: 500px;
        position: relative;
        border: white;
    }
} */

@media only screen and (min-width: 1024px) and (max-width: 1439px) {
	.img-card {
		width: 330px;
		height: 310px;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	}
	.img-card-adjust {
		width: 290px;
		height: 280px;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	}

	.font-card {
		font-size: 26px;
		max-width: 140px;
		padding-top: 0;
		padding-bottom: 20px;
	}

	.card {
		background-color: #f5f6f7;
		border-radius: 16px;
		width: 400px;
		height: 560px;
		position: relative;
		border: white;
	}

	.hero-relative {
		position: relative;
	}

	.icon-blue {
		position: absolute;
		top: 20%;
		left: 12%;
		transform: translate(-50%, -50%);
	}
	.icon-blue1 {
		position: absolute;
		top: 65%;
		left: 88%;
		transform: translate(-50%, -50%);
		width: 22px;
		height: 22px;
	}
	.icon-green {
		position: absolute;
		top: 75%;
		left: 69%;
		transform: translate(-50%, -50%);
	}
	.icon-love {
		position: absolute;
		top: 25%;
		left: 32%;
		transform: translate(-50%, -50%);
	}
	.icon-smile {
		position: absolute;
		top: 75%;
		left: 31%;
		transform: translate(-50%, -50%);
	}
	.icon-yellow {
		position: absolute;
		top: 20%;
		left: 78%;
		transform: translate(-50%, -50%);
	}

	.border-right-footer {
		border-right: 1px solid #eeeeee;
	}

	.footer-gitnet {
		display: flex;
		justify-content: right;
	}
}

@media only screen and (min-width: 768px) and (max-width: 1023px) {
	.font-hero-produk {
		font-size: 64px;
	}
	.img-card {
		width: 210px;
		height: 250px;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	}
	.img-card-adjust {
		width: 180px;
		height: 220px;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	}

	.card {
		background-color: #f5f6f7;
		border-radius: 16px;
		width: 285px;
		height: 475px;
		position: relative;
		border: white;
	}

	.card-d-none {
		display: none;
	}

	.font-card {
		position: absolute;
		top: 15%;
		left: 50%;
		transform: translate(-50%, -50%);
		font-size: 26px;
		white-space: nowrap;
	}

	.btn-absolute {
		position: absolute;
		top: 85%;
		left: 50%;
		transform: translate(-50%, -50%);
	}

	.text-git {
		font-size: 10px;
	}

	.hero-relative {
		position: relative;
	}

	.icon-blue {
		position: absolute;
		top: 20%;
		left: 12%;
		transform: translate(-50%, -50%);
	}
	.icon-blue1 {
		position: absolute;
		top: 65%;
		left: 88%;
		transform: translate(-50%, -50%);
		width: 22px;
		height: 22px;
	}
	.icon-green {
		position: absolute;
		top: 75%;
		left: 69%;
		transform: translate(-50%, -50%);
	}
	.icon-love {
		position: absolute;
		top: 25%;
		left: 32%;
		transform: translate(-50%, -50%);
	}
	.icon-smile {
		position: absolute;
		top: 75%;
		left: 31%;
		transform: translate(-50%, -50%);
	}
	.icon-yellow {
		position: absolute;
		top: 20%;
		left: 78%;
		transform: translate(-50%, -50%);
	}

	.border-right-footer {
		border-right: 1px solid #eeeeee;
	}

	.footer-gitnet {
		display: flex;
		justify-content: right;
	}
}

@media only screen and (min-width: 0px) and (max-width: 767px) {
	.logo-git {
		display: none;
	}
	.font-hero-produk {
		font-size: 48px;
	}
	.font-hero-produk {
		max-width: 250px;
	}
	.img-card {
		width: 210px;
		height: 250px;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	}
	.img-card-adjust {
		width: 180px;
		height: 220px;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	}

	.font-card {
		position: absolute;
		top: 15%;
		left: 50%;
		transform: translate(-50%, -50%);
		font-size: 26px;
		white-space: nowrap;
	}

	.card {
		background-color: #f5f6f7;
		border-radius: 16px;
		width: 327px;
		height: 471px;
		position: relative;
		border: white;
	}

	.card-d-none {
		display: none;
	}

	.btn-absolute {
		position: absolute;
		top: 85%;
		left: 50%;
		transform: translate(-50%, -50%);
	}

	.margin-bottom-card {
		margin-bottom: 50px;
	}

	.hero-relative {
		position: relative;
	}

	.icon-blue {
		position: absolute;
		top: 28%;
		left: 12%;
		transform: translate(-50%, -50%);
		width: 22px;
		height: 22px;
	}
	.icon-blue1 {
		position: absolute;
		top: 65%;
		left: 88%;
		transform: translate(-50%, -50%);
		width: 22px;
		height: 22px;
	}
	.icon-green {
		position: absolute;
		top: 85%;
		left: 80%;
		transform: translate(-50%, -50%);
	}
	.icon-love {
		position: absolute;
		top: 22%;
		left: 34%;
		transform: translate(-50%, -50%);
	}
	.icon-smile {
		position: absolute;
		top: 75%;
		left: 15%;
		transform: translate(-50%, -50%);
	}
	.icon-yellow {
		position: absolute;
		top: 20%;
		left: 78%;
		transform: translate(-50%, -50%);
	}

	.footer-gitnet {
		display: flex;
		justify-content: center;
	}

	.footer-produk {
		position: absolute;
		top: 20%;
		left: 20%;
		transform: translate(-50%, -50%);
	}

	.footer-perusahaan {
		position: absolute;
		top: 58%;
		left: 17%;
		transform: translate(-50%, -50%);
	}

	/* .border-y {
        border-top: 1px solid #eeeeee;
        border-bottom: 1px solid #eeeeee;
    } */

	.footer-img {
		position: absolute;
		top: 90%;
		left: 50%;
		transform: translate(-50%, -50%);
	}
}
/* akhir responsive produk */

/* responsive kontak */
@media only screen and (min-width: 1440px) {
}
@media only screen and (min-width: 1024px) and (max-width: 1440px) {
}
@media only screen and (min-width: 768px) and (max-width: 1023px) {
}
@media only screen and (min-width: 0px) and (max-width: 767px) {
}
/* akhir responsive kontak */
